@import "../../scss/config.scss";

.vumo-popup {
  &-main {
    position: absolute;
    z-index: 1001;
    bottom: 0;
    background-color: #fff;
  }

  &-header {
    display: flex;
    position: relative;
    justify-content: space-between;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background-color: #d5d5d5;
      transform: scaleY(.5);
    }
  }

  &-button {
    height: 44px;
    padding: 0 20px;
    border: 0;
    outline: 0;
    background-color: transparent;
  }

  &-confirm {
    color: $color-primary;
  }

  .is {
    &-bottom {
      right: 0;
      left: 0;
    }

    &-left {
      top: 0;
      left: 0;
    }

    &-right {
      top: 0;
      right: 0;
    }
  }

  &-from {
    &-bottom-enter,
    &-bottom-leave-active {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }

    &-left-enter,
    &-left-leave-active {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
    }

    &-right-enter,
    &-right-leave-active {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }

    &-bottom-enter-active,
    &-bottom-leave-active,
    &-left-enter-active,
    &-left-leave-active,
    &-right-enter-active,
    &-right-leave-active {
      transition: all .3s ease;
    }
  }
}