// $color-default: #09bb07;
$color-default: #fff;
$color-primary: #3ba6fe;
$color-success: #09bb07;
$color-danger: #e64340;
$color-warning: #e96900;


$font-color-primary: #333;
$font-color-secondary: #666;
$font-color-tips: #999;